#StartScreen,#GameCanvas{
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-align:center;
  }
  

  #StartButton:hover {
    width: 400px;
    height: 160px;
    cursor:pointer;
    background-image: url('./images/star_button_hover.png');
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.0);
    /* opacity:0.6;
    filter:alpha(opacity=60); */
    border: 0ch;
    position:fixed;
    top: 30%;
    right: 35%;
  }	
  #StartButton{
    width: 400px;
    height: 160px;
    background-image: url('./images/star_button.png');
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.0);
    /* opacity:0.6;
    filter:alpha(opacity=60); */
    border: 0ch;
    position:fixed;
    top: 30%;
    right: 35%;
    
  }      
  #title{
      width: 330px;
      height: 75px;
      background-image: url('./images/title.png');
      background-size: cover;
      position: fixed;
      left: 455px;
      top: 120px;
  }
  #virus1{
      width: 180px;
      height: 200px;
      background-image: url('./images/virus_1.png');;
      background-size: cover;
      position: fixed;
      left: 900px;
      top:25%;
  }
  #virus2{
    width: 120px;
    height: 140px;
    background-image: url('./images/virus_2.png');;
    background-size: cover;
    position: fixed;
    left: 1070px;
    top:50px;
  }
  #virus3{
    width: 180px;
    height: 200px;
    background-image: url('./images/virus_3.png');;
    background-size: cover;
    position: fixed;
    left: 850px;
    top: 20px;
  }
  body{
      background-image: url('./images/bg.jpg');
      background-size: cover; /*刚好覆盖浏览器*/
  }